.popup__close {
  position: absolute;
  top: -42px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: 0;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
}
.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 524px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
